body {
    background-color:aquamarine;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;

}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 15%;

}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #FEFEE3;
    border-radius: 5rem;
}

nav li {
    display: inline-block;
    padding: 1rem;
    
}

section {
    display: flex;

}

article {
    flex: 1;
}

.banner {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #f4f4f4;
    border-radius: 5rem;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h1 {
    font-size: 2.5em; 
    margin: 0;
}

.banner-text p {
    font-size: 1.2em; 
    margin: 0;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}